In [1]:
import pandas as pd
import numpy as np
import re

#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [12]:
Sample_Text= 'Python Exercises, PHP exercises.'
Output=re.sub("[\s,\.]",":",Sample_Text)
Output

'Python:Exercises::PHP:exercises:'

#Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [58]:
df= pd.DataFrame({'SUMMARY':['hello, world!', 'XXXXX test', '123four, five:; six...']})
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [60]:
df['SUMMARY']=df['SUMMARY'].str.replace('[^a-zA-Z\s]|X+','',regex=True)
df

         SUMMARY
0    hello world
1           test
2  four five six

#Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [108]:
sample_string='World Council of Credit Unions Adds Moldova to List of Member Nations'

In [120]:
def atleastfour(string1):
    func=re.compile(r'\w{4,}')
    result=[]
    for string in string1:
        find=func.findall(sample_string)
        result.append(find)
        return result

In [121]:
atleastfour(sample_string)

[['World',
  'Council',
  'Credit',
  'Unions',
  'Adds',
  'Moldova',
  'List',
  'Member',
  'Nations']]

#Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [107]:
sample_string1='World Council of Credit Unions Adds Moldova to List of Member Nations too'

In [202]:
def tff(string2):
    func1= re.compile(r'\b\w{3,5}\b')
    result1=[]
    for val in string2:
        identify=func1.findall(string2)
        result1.append(identify)
        return result1

In [203]:
tff(sample_string1)

[['World', 'Adds', 'List', 'too']]

#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [204]:
Sample_Text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [241]:
def replacep(list1):
    pat=re.compile('\(|\)')
    for val in list1:
        dp=re.sub(pat,"",val)
        dp1=re.sub('\s\.','.',dp)
        print(dp1)

In [243]:
replacep(Sample_Text)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

#Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [269]:
with open(r'C:\Users\Dell\Downloads\sample.txt') as file:
    text=file.read()
    print(text)

["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [271]:
results=re.sub('\s\([^\)]*\)',"",text)
print(results)

["example", "hr@fliprobo", "github", "Hello", "Data"]

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [274]:
Sample_text= "ImportanceOfRegularExpressionsInPython"

In [279]:
results=re.findall('[A-Z][^A-Z]*',Sample_text)
results

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [311]:
SampleText1= 'RegularExpression1IsAn2ImportantTopic3InPython'

In [312]:
def spaces(text):
    return re.sub(r'(\w)(\d)',r'\1 \2',text)

In [314]:
result8=spaces(SampleText1)
result8

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  Regular Expression 1 Is An 2 Important Topic 3 In Python

In [315]:
SampleText2= 'RegularExpression1IsAn2ImportantTopic3InPython'

In [325]:
def spaces2(text):
    result9=re.findall(r'\d|[A-Z][a-z]*',text)
    print(' '.join(result9))

In [326]:
spaces2(SampleText2)

Regular Expression 1 Is An 2 Important Topic 3 In Python

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [328]:
data=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

In [331]:
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [337]:
data['first_five_letters']=data['Country'].str.extract('(\w{6})')

In [338]:
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [343]:
Texttotest='My email address for contact is Sample_emailL_2024@test.com and you can contact me on my contact_number- 9876543210'

In [347]:
def find_text(text):
    pattern='[A-Za-z]+[0-9_]+'
    a=re.findall(pattern,text)
    print(a)

In [348]:
find_text(Texttotest)

['Sample_', 'emailL_2024', 'contact_']

Question 12- Write a Python program where a string will start with a specific number.

In [352]:
stringtotest1='2020 marked the widespread of corona virus throughout the world.'
stringtotest2='Year marked the widespread of corona virus throughout the world.'

In [405]:
def number_start(string):
    pattern='\d+'
    b=re.match(pattern,string)
    print(b)

In [406]:
number_start(stringtotest1)

<re.Match object; span=(0, 4), match='2020'>

In [404]:
number_start(stringtotest2)

None

Question 13- Write a Python program to remove leading zeros from an IP address

In [409]:
IP_address='192.168.03.032'

In [411]:
re.sub('\.[0]+','.',IP_address)

'192.168.3.32'

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [418]:
with open(r'C:\Users\Dell\Downloads\date string.txt') as file:
    date_string=file.read()
    print(date_string)

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Countryâ€™.

In [419]:
re.findall('[A-Za-z]+\s[0-9]+\w+\s[0-9]+',date_string)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [420]:
Sample_text15= 'The quick brown fox jumps over the lazy dog.'
Pattern= ['fox', 'dog', 'horse']

In [423]:
for pttr in Pattern:
    y=re.findall(pttr,Sample_text15)
    print(y)

['fox']
['dog']
[]

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [437]:
Sample_text16= 'The quick brown fox jumps over the lazy dog.'

In [438]:
z=re.search('fox',Sample_text16)
print(z)

<re.Match object; span=(16, 19), match='fox'>

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [439]:
Sample_text17='Python exercises, PHP exercises, C# exercises'
Pattern='exercises'

In [440]:
re.findall(Pattern,Sample_text17)

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [443]:
Sample_text17='Python exercises, PHP exercises, C# exercises'
Pattern='(exercises)'

In [453]:
re.findall(Pattern,Sample_text17)

['exercises', 'exercises', 'exercises']

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [455]:
Sample_text19= 'I was born on 1999-01-12.'

In [464]:
re.sub(r'([0-9]{4})-([0-9]{2})-([0-9]{2})',r'\3-\2-\1',Sample_text19)

'I was born on 12-01-1999.'

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [473]:
Sample_Text20= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [567]:
def find_decimals(sample_text20):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    decimal_numbers = re.findall(pattern, sample_text20)
    return decimal_numbers

In [568]:
find_decimals(Sample_Text20)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [485]:
sample_text21= "This is a sample text to print 50, 95, 150 numbers and their position."

for value in re.finditer("\d+", sample_text21):
    print(value.group(0))
    print("Index position:", value.start())

50
Index position: 31
95
Index position: 35
150
Index position: 39

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [491]:
Sample_Text22= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Numeric_values=re.findall('\d+',Sample_Text22)
Max_value= max(Numeric_values)
print(Max_value)

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [492]:
Sample_Text23= "RegularExpressionIsAnImportantTopicInPython"

In [514]:
def insert_spaces(text):
    pattern= r'([A-Z][a-z]+)'
    result23= re.findall(pattern,Sample_Text23)
    print(' '.join(result23))

In [515]:
insert_spaces(Sample_Text23)

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [516]:
Sample_Text24='This is a sample Text to identify sequence of One Upper case letter followed by Lower case letters.'

In [517]:
pattern=r'[A-Z][a-z]+'
result24=re.findall(pattern,Sample_Text24)
print(result24)

['This', 'Text', 'One', 'Upper', 'Lower']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [518]:
Sample_Text25= 'Hello hello world world'

In [521]:
pattern= r'\b(\w+)(\s+\1\b)'
y=re.sub(pattern,r'\1',Sample_Text25)
print(y)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [524]:
def string_check(sample_text):
    pattern= r"\w$"
    check= re.search(pattern, sample_text)
    if check:
        return True
    else:
        return False

In [528]:
input_text = input("Enter text: ")
if string_check(input_text):
    print("Alphanumeric character exists at end")
else:
    print("Alphanumeric character do not exits at end")

Enter text: load 6/
Alphanumeric character do not exits at end

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [529]:
Sample_Text27="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [532]:
results27=re.findall(r'#\w+',Sample_Text27)
results27

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [537]:
Sample_Text28= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [539]:
re.sub('<U\+\w+>',"",Sample_Text28)

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [541]:
with open(r'C:\Users\Dell\Downloads\sample_text.txt') as file:
    dates= file.read()
    print(dates)

Ron was born on 12-09-1992 and he was admitted to school 15-12-1999

In [546]:
results29= re.findall('\d{2}-\d{2}-\d{4}',dates)
print(results29)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [548]:
Sample_Text30="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [565]:
def rem24(sample_text):
    Pattern=re.compile(r'\b\w{2,4}\b')
    result30=re.sub(Pattern,"",sample_text)
    print(result30)

In [566]:
rem24(Sample_Text30)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

None

In [220]:
Finaltext=re.sub('\s\.','.',Text1)
Finaltext

TypeError: expected string or bytes-like object, got 'NoneType'

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

example.com
hr@fliprobo.com
github.com
HelloData Science World
DataScientist

In [171]:
replacep(Sample_Text)

['example.com']

In [139]:
remove_par(Sample_Text1)

['example .com']

In [116]:
Ex_ot=comp2.replace('',Sample_Text1)

AttributeError: 're.Pattern' object has no attribute 'replace'

In [32]:
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)
df

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [ ]:
Output=re.findall()