In [191]:
#Importing necessary libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
**Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank
B) Name
C) Artist
D) Upload date
E) Views**

In [22]:
#Connecting selenium with web browser-
driver= webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [29]:
#Creating variables for required data-
rank=[]
name=[]
artist=[]
upload_date=[]
view=[]

In [30]:
#Scraping name from the given page-
name_tag= driver.find_elements(By.XPATH,'//div[@class="mw-body-content"]/div[1]/table[1]/tbody/tr/td[1]')
for i in name_tag:
    names=i.text
    name.append(names)
            
#Scraping artist from the given page-
artist_tag= driver.find_elements(By.XPATH,'//div[@class="mw-body-content"]/div[1]/table[1]/tbody/tr/td[2]')
for i in artist_tag:
    artists=i.text
    artist.append(artists)

#Scraping upload date from the given page-
upload_date_tag= driver.find_elements(By.XPATH,'//div[@class="mw-body-content"]/div[1]/table[1]/tbody/tr/td[4]')
for i in upload_date_tag:
    uploads=i.text
    upload_date.append(uploads)
            
#Scraping views from the given page-
view_tag= driver.find_elements(By.XPATH,'//div[@class="mw-body-content"]/div[1]/table[1]/tbody/tr/td[3]')
for i in view_tag:
    views=i.text
    view.append(views)

In [32]:
print(len(name),len(artist),len(upload_date),len(view))

30 30 30 30

In [52]:
rank=list(range(1,31))

In [66]:
#Creating DataFrame for the required data-
df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':upload_date,'Views (Billions)':view})
df

,Rank,Name,Artist,Upload Date,Views (Billions)
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.41
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,5,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.23
5,6,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.22
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.18
9,10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.10
10,11,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.09
11,12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.59
12,13,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.57
13,14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.45
14,15,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,17,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",4.00
17,18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.98
18,19,"""Roar""[44]",Katy Perry,"September 5, 2013",3.98
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.89
20,21,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,22,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,23,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.75
24,25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.70
25,26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.70
26,27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.64
27,28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.58
29,30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.57

In [67]:
df['Name']=df['Name'].str.split('[').str.get(0).str.replace('"',"")
df

,Rank,Name,Artist,Upload Date,Views (Billions)
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,2,Despacito,Luis Fonsi,"January 12, 2017",8.41
2,3,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,4,Bath Song,Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,5,Shape of You,Ed Sheeran,"January 30, 2017",6.23
5,6,See You Again,Wiz Khalifa,"April 6, 2015",6.22
6,7,Wheels on the Bus,Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,8,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,9,Uptown Funk,Mark Ronson,"November 19, 2014",5.18
9,10,Gangnam Style,Psy,"July 15, 2012",5.10
10,11,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",5.09
11,12,Dame Tu Cosita,Ultra Records,"April 5, 2018",4.59
12,13,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.57
13,14,Axel F,Crazy Frog,"June 16, 2009",4.45
14,15,Sugar,Maroon 5,"January 14, 2015",4.02
15,16,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,17,Counting Stars,OneRepublic,"May 31, 2013",4.00
17,18,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.98
18,19,Roar,Katy Perry,"September 5, 2013",3.98
19,20,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.89
20,21,Sorry,Justin Bieber,"October 22, 2015",3.78
21,22,Shree Hanuman Chalisa,T-Series Bhakti Sagar,"May 10, 2011",3.77
22,23,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,24,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.75
24,25,Perfect,Ed Sheeran,"November 9, 2017",3.70
25,26,Dark Horse,Katy Perry,"February 20, 2014",3.70
26,27,Let Her Go,Passenger,"July 25, 2012",3.64
27,28,Faded,Alan Walker,"December 3, 2015",3.60
28,29,Girls Like You,Maroon 5,"May 31, 2018",3.58
29,30,Lean On,Major Lazer Official,"March 22, 2015",3.57

## 2. Scrape the details team India’s international fixtures from bcci.tv.
**Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time**

**Note: - From bcci.tv home page you have reach to the international fixture page through code.**

In [70]:
#Connecting selenium with web browser-
driver= webdriver.Chrome()
driver.get('https://www.bcci.tv')

In [87]:
#Reaching the International Fixtures page-
Fixture=driver.find_element(By.XPATH,'//div[@class="w-100 tab-pane fade  show active "]/ul/div[1]/a[2]')
Fixture.click()

In [89]:
#Filtering Team India-
All_teams=driver.find_element(By.XPATH,'//div[@class="sec-head d-flex"]/div[2]/div/div[1]')
All_teams.click()
try:
    India_team=driver.find_element(By.XPATH,'//div[@class="drop-down-filter"]/div/div[1]/div/div[2]/div[9]')
    India_team.click()
except:
    NoSuchElementException
    print('Results no more available')

In [90]:
#Creating variables for required data-
series=[]
place=[]
date=[]
time=[]

In [91]:
#Scraping series from the given page-
series_tag= driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tag:
    ss=i.text
    series.append(ss)
            
#Scraping place from the given page-
place_tag= driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place_tag:
    places=i.text
    place.append(places)

#Scraping date from the given page-
date_tag= driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tag:
    dates=i.text
    date.append(dates)
            
#Scraping time from the given page-
time_tag= driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tag:
    times=i.text
    time.append(times)

In [92]:
print(len(series),len(place),len(date),len(time))

9 9 9 9

In [94]:
df=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
df

,Series,Place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

## 3. Scrape the details of State-wise GDP of India from statisticstime.com.
**Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($billion)**

**Note: - From statistics times home page you have to reach to economy page through code.**

In [95]:
#Connecting selenium with web browser-
driver= webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [99]:
#Navigating to Economy page and selecting India-
economy=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]')
economy.click()

india_economy=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
india_economy.click()

gdp_indian_states=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_indian_states.click()

In [109]:
#Creating variables for required data-
rank=[]
state=[]
gsdp_1=[]
gsdp_2=[]
share=[]
gdp=[]

In [110]:
#Scraping rank from the given page-
rank_tag= driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div[1]/div/table/tbody/tr/td[1]')
for i in rank_tag:
    ranks=i.text
    rank.append(ranks)
            
#Scraping state from the given page-
state_tag= driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div[1]/div/table/tbody/tr/td[2]')
for i in state_tag:
    states=i.text
    state.append(states)

#Scraping GSDP(21-22) from the given page-
gsdp_1_tag= driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div[1]/div/table/tbody/tr/td[5]')
for i in gsdp_1_tag:
    gsdp1s=i.text
    gsdp_1.append(gsdp1s)
            
#Scraping GSDP(22-23) from the given page-
gsdp_2_tag= driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div[1]/div/table/tbody/tr/td[4]')
for i in gsdp_2_tag:
    gsdp2s=i.text
    gsdp_2.append(gsdp2s)
    
#Scraping share(21-22) from the given page-
share_tag= driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div[1]/div/table/tbody/tr/td[6]')
for i in share_tag:
    shares=i.text
    share.append(shares)

#Scraping GDP from the given page-
gdp_tag= driver.find_elements(By.XPATH,'//div[@class="fwidth"][3]/div[1]/div/table/tbody/tr/td[7]')
for i in gdp_tag:
    gdps=i.text
    gdp.append(gdps)

In [111]:
print(len(rank),len(state),len(gsdp_1),len(gsdp_2),len(share),len(gdp))

33 33 33 33 33 33

In [112]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(21-22)':gsdp_1,'GSDP(22-23)':gsdp_2,'Share(21-22)':share,'GDP($billion)':gdp})
df

,Rank,State,GSDP(21-22),GSDP(22-23),Share(21-22),GDP($billion)
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",3.96%,124.764
11,12,Delhi,"881,336","1,014,688",3.73%,117.660
12,13,Haryana,"868,905","984,055",3.68%,116.001
13,14,Odisha,"662,886","753,177",2.81%,88.497
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"617,192","676,164",2.62%,82.397
16,17,Assam,"411,454","493,167",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"267,143","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
22,23,Goa,"84,266","93,672",0.36%,11.250
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"46,096","54,285",0.20%,6.154
25,26,Puducherry,"43,810","49,643",0.19%,5.849
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
30,31,Nagaland,"31,038","35,643",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

## 4. Scrape the details of trending repositories on Github.com.
**Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used**

**Note: - From the home page you have to click on the trending option from Explore menu through code.**

In [249]:
#Connecting selenium with web browser-
driver= webdriver.Chrome()
driver.get('https://github.com/')

In [250]:
#Navigating to Open Source > Trending-
open_source=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
open_source.click()

trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [263]:
#Creating variables for required data-
title=[]
description=[]
contributors_count=[]
language_used=[]

In [264]:
#Scraping repository title from the given page-
try:
    title_tag= driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
    for i in title_tag:
        titles=i.text
        title.append(titles)
except: 
    NoSuchElementException
    title.append('-')
            
#Scraping repository description from the given page-
try:
    description_tag= driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in description_tag:
        descriptions=i.text
        description.append(descriptions)
except:
    NoSuchElementException
    description.append('-')
    
#Scraping contributors count from the given page-
try:
    contributors_count_tag= driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
    for i in contributors_count_tag:
        contributors=i.text
        contributors_count.append(contributors)
except: 
    NoSuchElementException
    contributors_count.append('-')
            
#Scraping language used from the given page-
try:
    language_used_tag= driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')
    for i in language_used_tag:
        languages=i.text
        language_used.append(languages)
except:
    NoSuchElementException
    language_used.append('-')

In [251]:
#Scrap all repositories URls-
repositories_urls=[]
start=0
end=1
for repo in range(start,end):
    urls=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
    for i in urls:
        repositories_urls.append(i.get_attribute('href'))

In [253]:
#Extracting data as required-
for url in repositories_urls:
    driver.get(url)
    time.sleep(2)
    
    try:
        title_tag= driver.find_elements(By.XPATH,'//div[@class="pt-3 hide-full-screen"]/div[1]/div[1]')
        title.append(title_tag.text)
    except: 
        NoSuchElementException
        title.append('-')
    try:
        description_tag= driver.find_elements(By.XPATH,'//p[@class="f4 my-3"]')
        description.append(description_tag.text)
    except:
        NoSuchElementException
        description.append('-')
    try:
        contributors_count_tag= driver.find_elements(By.XPATH,'//div[@class="BorderGrid about-margin"]/div[5]/div/h2/a/span')
        contributors_count.append(contributors_count_tag.text)
    except: 
        NoSuchElementException
        contributors_count.append('-')
    try:
        language_used_tag= driver.find_elements(By.XPATH,'//div[@class="BorderGrid about-margin"]/div[6]/div/ul')
        language_used.append(language_used_tag.text)
    except:
        NoSuchElementException
        language_used.append('-')

In [270]:
print(len(title),len(description),len(contributors_count),len(language_used))

25 24 25 25

In [271]:
df=pd.DataFrame({'Repository title':title,'Contributors count':contributors_count,'Language used':language_used})
df

,Repository title,Contributors count,Language used
0,wandb / openui,748,TypeScript
1,massgravel / Microsoft-Activation-Scripts,"7,383",Batchfile
2,HVision-NKU / StoryDiffusion,131,Jupyter Notebook
3,reorproject / reor,295,TypeScript
4,rasbt / LLMs-from-scratch,"1,363",Jupyter Notebook
5,dev-xo / remix-saas,45,TypeScript
6,codecrafters-io / build-your-own-x,"24,661",Built by
7,abi / secret-llama,57,TypeScript
8,Stirling-Tools / Stirling-PDF,"1,700",Java
9,xM4ddy / OFGB,103,C#
10,fastfetch-cli / fastfetch,268,C
11,KindXiaoming / pykan,600,Jupyter Notebook
12,karpathy / llm.c,"1,884",Cuda
13,bepass-org / oblivion-desktop,24,TypeScript
14,Ryujinx / Ryujinx,"3,751",C#
15,systemdesign42 / system-design,890,Built by
16,lencx / ChatGPT,"5,412",Rust
17,lmstudio-ai / lms,30,TypeScript
18,dockur / windows,"1,032",Shell
19,novuhq / novu,"3,410",TypeScript
20,solana-labs / solana,"3,819",Rust
21,VinciGit00 / Scrapegraph-ai,148,Python
22,plandex-ai / plandex,674,Go
23,pagefaultgames / pokerogue,491,TypeScript
24,suyu-emu / suyu,153,C++

## 5. Scrape the details of top 100 songs on billiboard.com. 
**Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board**

**Note: - From the home page you have to click on the charts option then hot 100-page link through code.**

In [164]:
#Connecting selenium with web browser-
driver= webdriver.Chrome()
driver.get('https://www.billboard.com/charts/hot-100/')

In [172]:
#Creating variables for required data-
name=[]
artist=[]
rank=[]
prank=[]
woc=[]

In [174]:
#Scraping song name from the given page-
name_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
for i in name_tag:
    names=i.text
    name.append(names)
            
#Scraping artist name from the given page-
artist_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in artist_tag:
    artists=i.text
    artist.append(artists)

#Scraping last week rank from the given page-
rank_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in rank_tag:
    ranks=i.text
    rank.append(ranks)
            
#Scraping peak rank from the given page-
prank_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in prank_tag:
    pranks=i.text
    prank.append(pranks)
    
#Scraping weeks on board from the given page-
woc_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
for i in woc_tag:
    wocs=i.text
    woc.append(wocs)

In [175]:
print(len(name),len(artist),len(rank),len(prank),len(woc))

100 100 100 100 100

In [176]:
df=pd.DataFrame({'Song name':name,'Artist name':artist,'Last week rank':rank,'Peak rank':prank,'Weeks on board':woc})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Fortnight,Taylor Swift Featuring Post Malone,-,1,1
1,Down Bad,Taylor Swift,-,2,1
2,I Can Do It With A Broken Heart,Taylor Swift,-,3,1
3,The Tortured Poets Department,Taylor Swift,-,4,1
4,"So Long, London",Taylor Swift,-,5,1
...,...,...,...,...,...
95,Us Vs. Them,$uicideBoy$,-,96,1
96,Wine Into Whiskey,Tucker Wetmore,84,77,5
97,Spin You Around (1/24),Morgan Wallen,89,24,13
98,Soak City,310babii,82,53,19
99,Selfish,Justin Timberlake,60,19,13

## 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre 

**Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare**

In [177]:
#Connecting selenium with web browser-
driver= webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [178]:
#Creating variables for required data-
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [179]:
#Scraping book name from the given page-
book_name_tag= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book_name_tag:
    book_names=i.text
    book_name.append(book_names)
            
#Scraping author name from the given page-
author_name_tag= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author_name_tag:
    author_names=i.text
    author_name.append(author_names)

#Scraping volumes sold from the given page-
volumes_sold_tag= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volumes_sold_tag:
    volumes_solds=i.text
    volumes_sold.append(volumes_solds)
            
#Scraping publisher from the given page-
publisher_tag= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher_tag:
    publishers=i.text
    publisher.append(publishers)
    
#Scraping genre from the given page-
genre_tag= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre_tag:
    genres=i.text
    genre.append(genres)

In [180]:
print(len(book_name),len(author_name),len(volumes_sold),len(publisher),len(genre))

100 100 100 100 100

In [181]:
df=pd.DataFrame({'Book name':book_name,'Author name':author_name,'Volumes sold':volumes_sold,'Publisher':publisher,'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## 7. Scrape the details most watched tv series of all time from imdb.com.
**Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes**

In [182]:
#Connecting selenium with web browser-
driver= webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls512407256/')

In [193]:
#Creating variables for required data-
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

In [195]:
start=0
end= 1

for page in range(start, end):

#Scraping name from the given page-
    name_tag= driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name_tag:
        names=i.text
        name.append(names)
            
#Scraping year span from the given page-
    year_span_tag= driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in year_span_tag:
        year_spans=i.text
        year_span.append(year_spans)
    
#Scraping genre from the given page-
    genre_tag= driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
    for i in genre_tag:
        genres=i.text
        genre.append(genres)
    
#Scraping run time from the given page-
    run_time_tag= driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
    for i in run_time_tag:
        run_times=i.text
        run_time.append(run_times)
            
#Scraping ratings from the given page-
    ratings_tag= driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
    for i in ratings_tag:
        rating=i.text
        ratings.append(rating)
    
#Scraping votes from the given page-
    votes_tag= driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in votes_tag:
        vote=i.text
        votes.append(vote)
    
#Next button
    next_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/div[2]/div/div[1]/div/div[3]/div[5]/div/div/div/a[2]')
    next_button.click()
    time.sleep(3)

In [196]:
print(len(name),len(year_span),len(genre),len(run_time),len(ratings),len(votes))

100 100 100 100 100 100

In [197]:
df=pd.DataFrame({'Name':name,'Year span':year_span,'Genre':genre,'Run time':run_time,'Ratings':ratings,'Votes':votes})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Once Upon a Time,(2011–2018),"Adventure, Fantasy, Romance",60 min,7.7,"237,161"
1,Better Call Saul,(2015–2022),"Crime, Drama",45 min,9,"648,601"
2,Narcos,(2015–2017),"Biography, Crime, Drama",50 min,8.8,"470,793"
3,Bates Motel,(2013–2017),"Drama, Horror, Mystery",45 min,8.1,"117,039"
4,Daredevil,(2015–2018),"Action, Crime, Drama",60 min,8.6,"475,077"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"54,423"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama","1,164 min",7.7,"66,810"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"218,962"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"45,024"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",57 min,8.5,"288,643"

## 8. Details of Datasets from UCI machine learning repositories.
**Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute 
G) Year**

**Note: - from the home page you have to go to the Show All Dataset page through code.**

In [230]:
#Connecting selenium with web browser-
driver= webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [235]:
#Navigating to all datasets page:
view_datasets=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
view_datasets.click()

In [237]:
#Scrap all products URls-
dataset_urls=[]
start=0
end=67
for page in range(start,end):
    urls=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
    for i in urls:
        dataset_urls.append(i.get_attribute('href'))
    next_button=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
    next_button.click()
    time.sleep(2)

ElementClickInterceptedException: Message: element click intercepted: Element <button class="btn-primary btn-sm btn" aria-label="Next Page" disabled="">...</button> is not clickable at point (1309, 300). Other element would receive the click: <div class="btn-group">...</div>
  (Session info: chrome=124.0.6367.119)
Stacktrace:
	GetHandleVerifier [0x00007FF789181502+60802]
	(No symbol) [0x00007FF7890FAC02]
	(No symbol) [0x00007FF788FB7CE4]
	(No symbol) [0x00007FF78900E877]
	(No symbol) [0x00007FF78900C344]
	(No symbol) [0x00007FF78900980A]
	(No symbol) [0x00007FF7890089E2]
	(No symbol) [0x00007FF788FFAE8B]
	(No symbol) [0x00007FF78902AB7A]
	(No symbol) [0x00007FF788FFA7C6]
	(No symbol) [0x00007FF78902AD90]
	(No symbol) [0x00007FF78904A224]
	(No symbol) [0x00007FF78902A923]
	(No symbol) [0x00007FF788FF8FEC]
	(No symbol) [0x00007FF788FF9C21]
	GetHandleVerifier [0x00007FF78948411D+3217821]
	GetHandleVerifier [0x00007FF7894C60B7+3488055]
	GetHandleVerifier [0x00007FF7894BF03F+3459263]
	GetHandleVerifier [0x00007FF78923B846+823494]
	(No symbol) [0x00007FF789105F9F]
	(No symbol) [0x00007FF789100EC4]
	(No symbol) [0x00007FF789101052]
	(No symbol) [0x00007FF7890F18A4]
	BaseThreadInitThunk [0x00007FFE84627344+20]
	RtlUserThreadStart [0x00007FFE85A826B1+33]

In [238]:
len(dataset_urls)

664

In [239]:
#Creating variables for required data-
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
no_of_instances=[]
no_of_attribute=[]
year=[]

In [240]:
#Extracting data as required-
for url in dataset_urls:
    driver.get(url)
    time.sleep(2)
    
    try:
        name= driver.find_element(By.XPATH,'//div[@class="relative flex flex w-full items-center gap-4 bg-primary p-2"]/div[2]/div/h1')
        dataset_name.append(name.text)
    except: 
        NoSuchElementException
        dataset_name.append('-')
    try:
        data_type_tag= driver.find_element(By.XPATH,'//div[@class="col-span-4"][1]/p')
        data_type.append(data_type_tag.text)
    except:
        NoSuchElementException
        data_type.append('-')
    try:
        tasks= driver.find_element(By.XPATH,'//div[@class="col-span-4"][3]/p')
        task.append(tasks.text)
    except: 
        NoSuchElementException
        task.append('-')
    try:
        attribute_types= driver.find_element(By.XPATH,'//div[@class="col-span-4"][4]/p')
        attribute_type.append(attribute_types.text)
    except:
        NoSuchElementException
        attribute_type.append('-')
    try:
        no_of_instance= driver.find_element(By.XPATH,'//div[@class="col-span-4"][5]/p')
        no_of_instances.append(no_of_instance.text)
    except:
        NoSuchElementException
        no_of_instances.append('-')
    try:
        no_of_attributes= driver.find_element(By.XPATH,'//div[@class="col-span-4"][6]/p')
        no_of_attribute.append(no_of_attributes.text)
    except: 
        NoSuchElementException
        no_of_attribute.append('-')
    try:
        years= driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        year.append(years.text)
    except: 
        NoSuchElementException
        year.append('-')

In [241]:
print(len(dataset_name),len(data_type),len(task),len(attribute_type),len(no_of_instances),len(no_of_attribute),len(year))

664 664 664 664 664 664 664

In [247]:
df=pd.DataFrame({'Dataset name':dataset_name,'Data type':data_type,'Attribute type':attribute_type,'No. of instances':no_of_instances,'No. of attributes':no_of_attribute,'Year':year})
df

,Dataset name,Data type,Attribute type,No. of instances,No. of attributes,Year
0,Iris,Tabular,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Dry Bean,Multivariate,"Integer, Real",13611,16,Donated on 9/13/2020
3,Rice (Cammeo and Osmancik),Multivariate,Real,3810,7,Donated on 10/5/2019
4,Adult,Multivariate,"Categorical, Integer",48842,14,Donated on 4/30/1996
...,...,...,...,...,...,...
659,Moral Reasoner,Domain-Theory,-,202,-,Donated on 5/31/1994
660,PMU-UD,Univariate,-,5180,9,Donated on 8/4/2018
661,DGP2 - The Second Data Generation Program,Data-Generator,Real,-,-,-
662,EBL Domain Theories,-,-,-,-,-
663,Sattriya_Dance_Single_Hand_Gestures Dataset,Multivariate,-,1450,-,Donated on 7/21/2019

In [248]:
df['Year']=df['Year'].str.split('on ').str.get(1)
df

,Dataset name,Data type,Attribute type,No. of instances,No. of attributes,Year
0,Iris,Tabular,Real,150,4,6/30/1988
1,Heart Disease,Multivariate,"Categorical, Integer, Real",303,13,6/30/1988
2,Dry Bean,Multivariate,"Integer, Real",13611,16,9/13/2020
3,Rice (Cammeo and Osmancik),Multivariate,Real,3810,7,10/5/2019
4,Adult,Multivariate,"Categorical, Integer",48842,14,4/30/1996
...,...,...,...,...,...,...
659,Moral Reasoner,Domain-Theory,-,202,-,5/31/1994
660,PMU-UD,Univariate,-,5180,9,8/4/2018
661,DGP2 - The Second Data Generation Program,Data-Generator,Real,-,-,NaN
662,EBL Domain Theories,-,-,-,-,NaN
663,Sattriya_Dance_Single_Hand_Gestures Dataset,Multivariate,-,1450,-,7/21/2019